.icon-hover:hover {
  border-color: #c493ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #8e509b !important;
}

foto1{
  height: 20px;
  width: 20px;
}
.float-start{
      color: black;
}
#texto{
   font-size: 40px;
}
#laltextto{
  background-color: #aa87d8;
}
#footer1{
  color: #E7AEA9;
  background-color: #aa87d8;
}
#footer2{
  color: B0A7DF;
  background-color: white;
}
#cards1{
  height: max-content;
}
#cartaxd{
  height: 350px;
  width: 350px;
}